/* .row

{
    border-spacing:0 15px;
    border-collapse:separate;
    border-spacing:0 90px;
}
.row {
    margin-bottom: 20px; 
  }

  
  .w3-padding-64 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .dark-mode body {
    background-color: #333;
    color: #fff;
  } */
  