

<div class="container">
    <h3 class="text-center my-5 items_title">Bookings</h3>
    <p class="text-center text-muted mt-5 mb-0"><a href="#!"
      class="forgot-password" routerLink="/adminDashboard"></a>


<table class="table table-striped table-dark">
    <thead>
      <tr>
      
        
            <th>BookingId</th>
            <th>UserId</th>
            <th>BusId</th>
            <th>UserName</th>
            <th>BusName</th>
            <th>ContactNo</th>
            <th>Source</th>
            <th>Destination</th>
            <th>DepartureDate</th>
            <th>charges</th>   
            <th>cancelticket</th>         
        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Bus of Bus">
            <td>{{Bus.bookingId}}</td>
            <td>{{Bus.userId}}</td>
            <td>{{Bus.busId}}</td>
            <td>{{Bus.userName}}</td>
            <td>{{Bus.busName}}</td>
            <th>{{Bus.contactNo}}</th>
            <th>{{Bus.source}}</th>
            <td>{{Bus.destination}}</td>
            <td>{{Bus.departureDate}}</td>
            <td>{{Bus.charges}}</td>
            <td>{{Bus.cancelticket}}</td>
        </tr>
     
    </tbody>
  </table>
  <div>
    <p class="text-center text-muted mt-5 mb-0"><a href="#!"
      class="forgot-password" routerLink="/adminDashboard">Go Back</a>
  </div>
  </div>


  



  <div class="container">
    <h3 class="text-center my-5 items_title"></h3>
    <p class="text-center text-muted mt-5 mb-0"><a href="#!"
      class="forgot-password" routerLink="/adminDashboard"></a>


<table class="table table-striped table-dark">
    <thead>
      <tr>
      
        <!-- <th scope="col">Last</th>
        <th scope="col">Handle</th> -->
      </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let User of User">
            <td>{{User.username}}</td>
            <td>{{User.email}}</td>
        </tr>  -->
     
    </tbody>
  </table>
  <!-- <div>
    <p class="text-center text-muted mt-5 mb-0"><a href="#!"
      class="forgot-password" routerLink="/adminDashboard">Go Back</a>
  </div> -->
  </div>