.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }
  


.offer-card img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}

footer {
  background-color: #333;
  /* color: white; */
  text-align: center;
  padding: 10px 0;
}

.offer-description {
  line-height: 1.5;
  color: #999;
}


.offers {
  text-align: center;
}

.offer-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
}